<%- include('../_partials/_header') %>

    <h1>Death Records</h1>
    
    <br>
    <br>

    <div class="input-group">
        <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="input-group-button-right">
        <button type="button" class="btn btn-outline-dark" id="input-group-button-right">Button</button>
      </div>

      <br>
      <br>

      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">First</th>
            <th scope="col">Surname</th>
            <th scope="col">Gender</th>
            <th scope="col">Date of Birth</th>
            <th scope="col">Date of Death</th>
            <th scope="col">Cizitenship</th>
            <th scope="col">Mother</th>
            <th scope="col">Father</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>Mark</td>
            <td>Otto</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
            <td>Jacob</td>
            <td>Thornton</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
            <td>Jacob</td>
            <td>Thornton</td>
          </tr>
        </tbody>
      </table>

<%- include('../_partials/_footer') %>
