</div>
</body>
<!-- Footer -->
<footer class="bg-dark text-center text-white">
    <!-- Grid container -->
    <div class="container p-4">
      <!-- Section: Social media -->
      <section class="mb-4">
        <!-- Birth Register -->
        <a href="/birth" role="button">
            <img src="https://img.icons8.com/nolan/50/baby-bottle.png"/>
        </a>
         <!-- Marriage Register -->
         <a href="/marraige" role="button">
            <img src="https://img.icons8.com/nolan/50/wedding-rings.png"/>
        </a>
         <!-- Death Register -->
         <!--<a href="/death" role="button">
            <img src="https://img.icons8.com/nolan/50/headstone.png"/>
        </a>-->

         <!-- View Relatives -->
         <a href="/relatives" role="button">
            <img src="https://img.icons8.com/nolan/50/mommy-and-me-classes.png"/>
        </a>
         <!-- View Clan -->
         <a href="/clan" role="button">
            <img src="https://img.icons8.com/nolan/50/genealogy.png"/>
        </a>
         <!-- View Relationshiop -->
         <a href="/relationships" role="button">
            <img src="https://img.icons8.com/nolan/50/find-user-male.png"/>
            
        </a>
      <!-- Section: Social media -->  
     
      <!-- Section: Text -->
      <section class="mb-4">
        <p>
          National Identification System
        </p>
      </section>
      <!-- Section: Text -->  
      
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2022 Copyright: NIS
      
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
</html>